
    
    <mat-sidenav-container color="primary">
      <mat-sidenav  [(opened)]="opened" >
        <a class="nav-link" [routerLink]="['profils']">
          <div id="container-option">
        Lister Profils
      </div>
    </a>
    <a class="nav-link" [routerLink]="['users']">
    <div>
        <span>Lister Users</span>
      </div>
    </a>
      </mat-sidenav>
      <mat-sidenav-content color="primary">
        
      <button (click)="opened=!opened"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color:violet">menu</mat-icon>
      </button>
        Main
          <span class="example-spacer">
    
  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>add</mat-icon>
  </button>
  <button [routerLink]="['connexion']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

  </button>
</span>
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    
    <router-oulet></router-oulet>
    