
<form #f="ngForm">
    <label>Username</label>       
    <input type="text" ngModel="{{data.username}}" name="username" #username >
    <input type="text" ngModel="{{data.prenom}}" name="prenom" #prenom >
    <input type="text" ngModel="{{data.nom}}" name="nom" #nom >
    <input type="text" ngModel="{{data.email}}" name="email" #email >
    
    <div>
        <img width="80" height="80" style="border-radius: 20px;" src="{{'data:image/jpg;base64,'+ data.avatar}}" alt="avatar">
    </div>
    <input type="file" #file ngModel="{{data.avatar}}">
    <button (click)="UpdateUser(f.value)" mat-button-raised> Update</button>
    </form>
    {{data.username}}