<form #f="ngForm" enctype="multipart/form-data">
<input type="text" name="username" #name ngModel>
<input type="file" name="avatar" (change)="selectedFile($event.target.files,$event)" #file="ngModel" ngModel>
<div>
    <img [src]="url" width="100" height="100" alt="avatar">
</div>
<input type="email" name="email" #email ngModel>
<input type="password" name="password" #password ngModel>
<input type="text" name="prenom" #prenom ngModel>
<input type="text" name="nom" #nom ngModel>
<button (click)="RegisterUser(f.value)">Valider</button>
</form>
