<form #f="ngForm" class="example-form">
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input name="username"  #username="ngModel" ngModel matInput placeholder="Ex. Pizza" required>
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password"  #password="ngModel" ngModel>
    </mat-form-field>
</div>
<button (click)="login(f.value)" mat-button-raised>Log in</button>
  </form>
  