/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body
{
    background-image: linear-gradient(125deg, #07051A 0%, #5342B2 53%, #C86DD7 120%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.ng-touched.ng-invalid
{
    border-color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
